/*Estilos generales*/

div{
	width: 100%;
	height:  200px;
	margin: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,.7);
}

body{
	margin: 0;
	background: #f7f6e6;
	margin-bottom: 500px;
}

/*Etiquetas de gradientes lineales*/

.gradient1{
	background: linear-gradient(45deg, #0611f1, #f406bc);

}

.gradient2{
	background: #0611f1 linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.6));
	
}

.gradient3{
	background: linear-gradient(#f406bc, #0611f1 40%, #9ba0f0 60%, #f406bc);
	
}

.gradient4{
	background: linear-gradient(#f406bc 50%, #0611f1 50%, #0611f1);
	
}

.gradient5{
	background: linear-gradient(#f406bc, #f406bc 50%, #0611f1 50%, #ffff00);
	background-size:  100px 10px;
	
}

.gradient5{
	background: linear-gradient(#f406bc, #f406bc 50%, #0611f1 50%, #ffff00);
	background-size:  100px 10px;
	
}

.gradient6{
	background: #0611f1 repeating-linear-gradient(45deg, transparent, 
		transparent 35px, rgba(255,255,255,0.5) 35px, rgba(255,255,255,.5) 70px);

	
}

.gradient7{
	background:  repeating-linear-gradient(45deg, transparent, transparent 35px, 
				rgba(255,255,255,0.5) 35px, rgba(255,255,255,.5) 70px),
				repeating-linear-gradient(-45deg, transparent, transparent 35px,
				rgba(255,255,255,0.5) 35px, rgba(255,255,255,.5) 70px),
				#0611f1;
	
}
